.container-fluid { 
  margin: auto;
}

h2 {
  text-align: center;
  font-family: Turnip;
  font-size: 50px;
  color: #00008b ;
}

body {
  background-image: url(cloud_image.jpg);
  background-size: cover;
}

.shiny-notification {
  position: fixed;
  font-size: 20pt;
  width: 30%;
  height: auto;
  left: calc(50% - 150px);
  top: calc(50% - 70px);
}

hr{
  background-color: transparent;
  opacity: 0;
}

h5{
  font-size: 18px;
}
