.container-fluid { 
  margin: auto;
}

h2 {
  text-align: center;
}

.shiny-notification {
  position: fixed;
  font-size: 18pt;
  width: 300px;
  height: 100px;
  left: calc(50% - 150px);
  top: calc(50% - 70px);
}
             