.container-fluid { 
  margin: auto;
}

h2 {
  text-align: center;
  font-family: Turnip;
  font-size: 50px;
  color: #00008b;
}

body {
  background-image: url(cloud_image.jpg);
  background-size: cover;
}

.shiny-notification {
  position: fixed;
  font-size: 20pt;
  width: 80%;
  height: auto;
  left: 10%;
  top: 40%;
}

.shiny-notification #about.button {
  width: 80%;
}

hr{
  background-color: transparent;
  opacity: 0;
}

h5{
  font-size: 18px;
}
